<h3> Add a new beer</h3>

<div id="beer-advocate-search">
  <p> Import from Beeradvocate.com:</p>
<form name="ba-search">
  <input type="text" name="search"> <input type="submit" name="submit">

</form>
</div>

<div id="manual">
<p> Input manually</p>
<form name="manual" method="POST" action="/mconfirm">
 <p>Name: <input type="text" name="name"></p>
 <p>Brewery: <input type="text" name="brewery"></p>
 <p>ABV: <input type="number" name="abv">%</p>
 <p>Style: <input type="text" name="style"></p>
 <p>Notes: <input type="text" name="notes"></p>
 <p>Score out of 5: <input type="number" name="uscore" min="0" max="5"></p>
 <p>Image: <input type="file" name="img"></p>
  <input type="submit" name="submit">
</form>
</div>
