<!DOCTYPE html>
<html>
  <head>
    <title>Mike's Craft Beer Book</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="/data/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/data/favicon.ico" type="image/x-icon">
  </head>
  <body>
   <div class="top-banner">
    <img src="/data/icon.png" alt="Beer by Nikita Kozin from the Noun Project" id="icon">
    <h1>Craft Beer Book</h1>
  </div>
  <nav> <a href="/add">Add A Beer</a> <a href="/">Home</a> </nav>

    <%= yield %>
  </body>
</html>
