<!DOCTYPE html>
<html>
  <head>
    <title>Mike's Craft Beer Book</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
   <div class="top-banner">
    <img src="/data/icon.png" alt="Beer by Nikita Kozin from the Noun Project" id="icon">
    <h1>Craft Beer Book</h1>
  </div>

    <%= yield %>
  </body>
</html>
